<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>MobiLeLeLe</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="css/css-main.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>



    <link rel="stylesheet" type="text/css" href="/css/css-main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
<div class="main-container">
    <div th:replace="fragments/navbar">Navbar</div>
    <div class="left nopadding"></div>
    <div class="main nopadding">


<!--        <table>-->
<!--            <thead>-->
<!--                <th>Name</th>-->
<!--                <th>Ingredients</th>-->
<!--                <th>Making</th>-->
<!--            </thead>-->
<!--            <tbody>&ndash;&gt;-->
<!--               <tr th:each = "recipe : ${recipes}">-->
<!--                   <td th:text = "${recipe.name}"></td>-->
<!--                   <td th:text = "${recipe.ingredients}"></td>-->
<!--                  <td th:text = "${recipe.making}"></td>-->
<!--                </tr>-->
<!--           </tbody>&ndash;&gt;-->
<!--        </table>-->
<!--        <div class="recipes_holder" th:each="recipe : ${recipes}" th:object="${recipe}">-->
<!--            <a class="recipe-detail-a" th:href="@{/recipes/recipes_dashboard/{recipeId}(recipeId=*{id})}">-->
<!--                <div class="item_holder">-->
<!--                    <div class="item-img">-->
<!--                        <div class="img-holder bg-img">-->
<!--                            <img alt="Recipe image" th:src="*{images.iterator().next()}">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="item-info">-->
<!--                        <div>-->
<!--                            <h3>-->
<!--                                <th:block th:text="*{name}"></th:block>-->
<!--                            </h3>-->
<!--                            <span> &#128337; <th:block th:text="*{hours}"></th:block>:<th:block-->
<!--                                    th:text="*{minutes}"></th:block> ч.</span>-->
<!--                        </div>-->
<!--                        <div class="cart-btn">-->
<!--                            <i class="bx bx-cart-alt"></i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->

        <div class="container-fluid">
            <h2 class="text-center text-white mt-5">Всички рецепти ivan</h2>
            <div th:each="recipe : ${recipes.getContent()}"
                 th:object="${recipe}"
                 class="offers row mx-auto d-flex flex-row justify-content-center">
                <div class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
                    <div class="card-img-top-wrapper">
                        <img class="card-img-top" th:src="*{images.iterator().next()}" alt="Car image">
<!--                        <img class="card-img-top" th:src="*{images[0]}" alt="Car image">-->
                   </div>
                   <div class="card-body pb-1">
                       <h5 class="card-title">
                           <!--<th:block th:text="*{offerHighlight}"></th:block>-->
                        </h5>
                    </div>
                    <ul class="offer-details list-group list-group-flush">
                        <li class="list-group-item">
                            <!--<div class="card-text"><span>• Name <th:block th:text="*{name}"></th:block> </span></div>-->
                            <div class="card-text"><span>• Категория <th:block th:text="*{category}"></th:block></span></div>
<!--                            <div class="card-text"><span>• Подкатегория <th:block th:text="*{subcategory}"></th:block></span></div>-->
                            <!--<div class="card-text"><span>• Ingredients <th:block th:text="*{ingredients}"></th:block> </span></div>-->
                        </li>
                    </ul>
<!--                    <div class="card-body">-->
<!--                        <a class="card-link" href="#" th:href="@{/recipes/{recipeId}(recipeId=*{id})}">Детайли</a>-->
<!--                    </div>-->
                </div>
            </div>
        </div>

        <div class="container-fluid container-fluid row justify-content-center">
            <nav>
                <ul class="pagination">
                    <li class="page-item" th:classappend="${recipes.isFirst()} ? 'disabled' : ''">
                        <a th:unless="${recipes.isFirst()}"
                           th:href="@{/recipes/all(size=${recipes.getSize()},page=0)}"
                           class="page-link" href="#">First</a>
                        <a th:if="${recipes.isFirst()}"
                           class="page-link" href="#">First</a>
                    </li>
                </ul>
            </nav>
            <nav>
                <ul class="pagination">
                    <li class="page-item" th:classappend="${recipes.hasPrevious() ? '' : 'disabled'}">
                        <a th:if="${recipes.hasPrevious()}"
                           th:href="@{/recipes/all(size=${recipes.getSize()},page=${recipes.getNumber() - 1})}"
                           class="page-link" href="#">Previous</a>
                        <a th:unless="${recipes.hasPrevious()}"
                           class="page-link" href="#">Previous</a>
                    </li>
                </ul>
            </nav>
            <nav>
                <ul class="pagination">
                    <li class="page-item" th:classappend="${recipes.hasNext() ? '' : 'disabled'}">
                        <a th:if="${recipes.hasNext()}"
                           th:href="@{/recipes/all(size=${recipes.getSize()},page=${recipes.getNumber() + 1})}"
                           class="page-link" href="#">Next</a>
                        <a th:unless="${recipes.hasNext()}"
                           class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
            <nav>
                <ul class="pagination">
                    <li class="page-item" th:classappend="${recipes.isLast()} ? 'disabled' : ''">
                        <a th:unless="${recipes.isLast()}"
                           th:href="@{/recipes/all(size=${recipes.getSize()},page=${recipes.getTotalPages() - 1})}"
                           class="page-link" href="#">Last</a>
                        <a th:if="${recipes.isLast()}"
                           class="page-link" href="#">Last</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div>

        <div class="right nopadding"></div>
        <div class="footer">

        </div>
    </div>



</body>
</html>